/* Button style */
.btn {
  font-size: 16px;
  font-family: $font-primary;
  text-transform: capitalize;
  padding: 13px 30px;
  border-radius: 6px;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
  font-weight: 600;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
  &-sm {
    font-size: 14px;
    padding: 10px 25px;
    @include tablet {
      font-size: 13px;
      padding: 9px 14px;
    }
  }

  &-dark {
    color: $text-color-dark;
    &:active,
    &:hover,
    &:focus,
    &.focus,
    &.active {
      color: $text-color-dark;
    }
  }
}

.btn-primary {
  background: $primary-color;
  color: $white;
  border-color: $primary-color;

  &:active,
  &:hover,
  &:focus,
  &.focus,
  &.active {
    background: darken($color: $primary-color, $amount: 10) !important;
    border-color: darken($color: $primary-color, $amount: 10) !important;
  }
}

.btn-outline-primary {
  background: transparent;
  color: $primary-color;
  border-color: $primary-color;

  &:active,
  &:hover,
  &:focus,
  &.focus,
  &.active {
    background: darken($color: $primary-color, $amount: 10) !important;
    border-color: darken($color: $primary-color, $amount: 10) !important;
    color: $white;
  }
}

.github-edit-btn {
  color: $dark;

  &:active,
  &:hover,
  &:focus,
  &.focus,
  &.active{
    color: $dark;
  } 
}