/*  typography */
body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.6;
  color: $text-color;
}

p,
.paragraph {
  font-weight: 400 !important;
  color: $text-color;
  font-size: 16px;
  line-height: 26px;
  font-family: $font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color-dark;
  font-family: $font-primary;
  font-weight: 700 !important;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 42px !important;
  font-weight: 800 !important;
  @include mobile {
    font-size: 36px;
    font-weight: 600 !important;
  }
}

h2,
.h2 {
  font-size: 36px !important;
  font-weight: 800 !important;
  @include mobile {
    font-size: 32px;
    font-weight: 600 !important;
  }
}

h3,
.h3 {
  font-size: 32px !important;
  @include mobile {
    font-size: 28px;
  }
}

h4,
.h4 {
  font-size: 26px !important;
}

h5,
.h5 {
  font-size: 22px !important;
}

h6,
.h6 {
  font-size: 18px !important;
}

.display-3 {
  font-size: 50px !important;
  font-weight: 800 !important;
  @include mobile {
    font-size: 36px;
    font-weight: 600 !important;
  }
}
