.card {
  @extend .shadow;
  @extend .rounded;
  transition: 0.2s ease;
  border: 0;

  &-lg {
    .card-body {
      padding: 35px;
    }
  }

  &-icon {
    background: $primary-color;
    color: $white;
    height: 55px;
    width: 60px;
    line-height: 55px;
    text-align: center;
    font-size: 27px;
    display: block;
    @extend .rounded;
    margin-top: 40px;
  }

  &-text {
    margin-bottom: 0;
  }

  &-title {
    font-weight: 700;
  }

  &-body {
    padding: 25px;
  }

  &:hover {
    box-shadow: 0px 15px 60px rgba(62, 62, 62, 0.2) !important;
  }
}

.social-icons {
  margin-bottom: 0;

  a {
    display: block;
    height: 42px;
    width: 42px;
    line-height: 42px;
    text-align: center;
    color: $white;
    background: $primary-color;
    border-radius: 6px;
  }
}

.footer-menu {
  margin-bottom: 0;

  a {
    display: block;
    padding: 10px;
    font-weight: 500;
    color: $text-color;
    transition: 0.2s ease;

    &:hover {
      color: $primary-color;
    }
  }
}

/* sidenav */
.sidenav {
  position: sticky;
  top: 77px;
  overflow-y: auto;
  height: 90vh;
  user-select: none;
  transition: 0.3s;
  @media screen and (min-width: 768px) {
    &-hidden {
      .menu li {
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &-hidden {
    @media screen and (min-width: 1600px) {
      margin-left: calc(-16.66666667% + 44px);
    }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      margin-left: calc(-20% + 44px);
    }
    @include desktop-lg {
      margin-left: calc(-25% + 44px);
    }
    @include desktop {
      margin-left: calc(-33.333333% + 44px);
    }
    @include tablet {
      margin-left: 0;
    }
  }
  @media screen and (min-width: 1480px) {
    max-width: 360px;
  }
  .sidenav-toggler {
    position: absolute;
    top: 31px;
    right: 0;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f0f0f0;
    &:hover {
      background-color: #e2e2e2;
    }
    @include tablet {
      display: none;
    }
  }
  &-hidden .sidenav-toggler {
    i {
      transform: rotateY(180deg);
    }
  }
  .menu {
    height: 100%;
    overflow-y: auto;
  }
  @include tablet {
    position: fixed;
    width: 97%;
    max-width: 300px;
    z-index: 9999;
    background-color: $white;
    top: 74px;
    height: 100vh;
    left: -300px;
    transition: 0.25s;
    padding: 0;
    padding-left: 25px;
    &.show {
      left: 0;
      box-shadow: 0 4px 40px #eee;
    }
    .menu {
      height: calc(100% - 74px);
    }
  }
  @include mobile {
    top: 73px;
    .menu {
      height: calc(100% - 63px);
    }
  }

  .menu {
    line-height: 2rem;
    list-style-type: none;

    ul {
      display: none;
    }
    .sidenav-item {
      font-size: 15px;
      font-weight: 500;
      color: rgba($black, 0.7);

      ul {
        padding-left: 20px;
        li a {
          line-height: 1.5;
          padding: 8px 0;
        }
      }

      &.parent > ul {
        display: block;
      }

      &.active {
        > ul {
          display: block;
        }

        > div {
          background-color: #f0f0f0;
          a {
            color: $black;
          }
          *:not(i) {
            font-weight: 500;
          }
        }
      }

      div {
        display: flex;
        flex-direction: row-reverse;
        transition: 0.25s;
        padding-left: 14px;
        border-radius: 0.25rem;

        &:hover,
        &:focus,
        &:active {
          background-color: #f6f6f6;
          a {
            color: $black;
          }
        }

        * {
          line-height: inherit;
        }

        .category-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          order: 1;
          width: 32px;
          cursor: pointer;
          padding: 0;
          i {
            transition: 0.25s;
          }
          &.icon-down i {
            transform: rotate(90deg);
          }
        }

        a {
          display: flex;
          flex: 1;
          order: 2;
          text-decoration: none;
          padding: 5px 0;
        }

        .category-icon:active,
        .category-icon:focus,
        .category-icon:hover {
          background-color: #e2e2e2;
          border-radius: 0.2rem;
        }
      }
    }
  }
}
/* /sidenav */

.sidelist {
  &.active,
  &.parent {
    display: block;
    border-bottom: 0 !important;

    .sidelist {
      display: block;
    }
  }
}
/* /sidenav */

.sidenav {
  transition: 0.3s;
  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
.doc-content {
  transition: 0.3s;
  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    flex: 0 0 63.3333333%;
  }
}
.sidenav-invisible {
  @media (min-width: 1600px) {
    .doc-content {
      transition: 0.3s;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .doc-content {
    @media screen and (min-width: 1600px) {
      flex: 0 0 calc(63.3333333% + 16.66666667% - 44px);
      max-width: calc(63.3333333% + 16.66666667% - 44px);
    }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      flex: 0 0 calc(63.3333333% + 20% - 44px);
      max-width: calc(63.3333333% + 20% - 44px);
    }
    @include desktop-lg {
      flex: 0 0 calc(58.3333333% + 25% - 44px);
      max-width: calc(58.3333333% + 25% - 44px);
    }
    @include desktop {
      flex: 0 0 calc(66.666667% + 33.333333% - 44px);
      max-width: calc(66.666667% + 33.333333% - 44px);
    }
    @include tablet {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

[data-search-form] {
  @include desktop {
    display: none;
    &.show {
      display: block;
    }
  }
}

.pagination {
  margin-top: 50px;
  justify-content: space-between;

  a {
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
  }

  i {
    height: 28px;
    line-height: 28px;
    font-size: 15px;
  }
}

// code-tab
.code-tabs {
  border: 1px solid $border-color;
  overflow: hidden;
  margin-bottom: 20px;

  .nav-tabs {
    margin-bottom: 0;

    .nav-item {
      padding-left: 0;
      border-right: 1px solid $border-color;

      .nav-link {
        text-decoration: none;
        font-weight: 500;
        border: 0;
      }

      &::before {
        display: none;
      }

      &.active {
        background: $primary-color;

        .nav-link {
          color: $white;
        }
      }
    }
  }

  .tab-content {
    padding: 20px 15px;
  }
}

// copy to clipboard

pre {
  position: relative;

  .copy-to-clipboard {
    background: $primary-color;
    color: $white;
    cursor: pointer;
    padding: 4px 5px;
    line-height: 1;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

:not(pre) > code + span.copy-to-clipboard {
  display: none;
}

// autocomplete
.autocomplete-suggestions {
  border: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 50px 60px rgba(62, 62, 62, 0.102) !important;
  background: $white;

  &::-webkit-scrollbar {
    width: 5px;

    &-track {
      background: $light;
    }

    &-thumb {
      background: $border-color;
    }
  }

  .autocomplete-suggestion {
    transition: 0.2s ease;
    padding: 10px;
    font-weight: 500;

    &.selected {
      background: $primary-color;
    }
  }
}

.search-item {
  a {
    color: $text-color-dark;
    display: block;

    &:hover {
      color: $primary-color;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.form-group {
  label {
    font-size: 15px;
    font-weight: 500;
  }

  .form-control {
    height: 40px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $border-color;
    border-radius: 0;
    padding: 10px 0;

    &::placeholder {
      font-size: 13px;
      color: $text-color-light;
    }

    &:focus {
      outline: 0;
      border-color: $primary-color;
      box-shadow: none;
    }
  }

  .custom-select {
    font-size: 13px;
    color: $text-color-light;
  }

  textarea.form-control {
    height: 100px;
  }
}

.form-control {
  border: 1px solid $border-color;
  border-radius: 6px;

  &:focus {
    box-shadow: none !important;
    outline: 0;
    border-color: $primary-color;
  }
}

textarea.form-control {
  height: 100px;
}

.badge {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
  padding: 5px 10px;

  &.added {
    background: #3778ff;
    color: $white;
  }

  &.fixed {
    background: #f54773;
    color: $white;
  }

  &.changed {
    background: #3aaa55;
    color: $white;
  }

  &.depricated {
    background: #343434;
    color: $white;
  }

  &.removed {
    background: #3bbfe4;
    color: $white;
  }

  &.security {
    background: #f53535;
    color: $white;
  }

  &.unreleased {
    background: #a037ff;
    color: $white;
  }
}

.collapse-wrapper {
  padding: 5px 15px;

  .collapse-head {
    text-decoration: none;
    color: $text-color;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
  }
}

:not(.highlight) pre {
  background: $light;
}

// content style
.content {
  * {
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.7;
  }

  hr {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 24px;
    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  strong {
    font-weight: 600;
  }

  a {
    text-decoration: underline;
    color: $primary-color;
  }

  ol,
  ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 20px;

    li {
      padding-left: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $primary-color;
        left: 3px;
        top: 8px;
      }
    }
  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #eeeeee;
  }

  table td,
  table th {
    padding: 0.75rem;
    vertical-align: top;
    margin-bottom: 0;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
  }

  th {
    font-weight: 500;
  }

  thead {
    background: $light;
    margin-bottom: 0;

    tr {
      border-bottom: 1px solid #eeeeee;
    }
  }

  tbody {
    background: #fff;
    margin-bottom: 0;
  }

  .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
  }

  .notices p {
    padding: 10px;
    margin-bottom: 0;
  }

  .notices.note p {
    border-top: 30px solid #6ab0de;
    background: #e7f2fa;
  }

  .notices.note p::after {
    content: "Note";
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }

  .notices.tip p {
    border-top: 30px solid #78c578;
    background: #e6f9e6;
  }

  .notices.tip p::after {
    content: "Tip";
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }

  .notices.info p {
    border-top: 30px solid #f0b37e;
    background: #fff2db;
  }

  .notices.info p::after {
    content: "Info";
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }

  .notices.warning p {
    border-top: 30px solid #e06f6c;
    background: #fae2e2;
  }

  .notices.warning p::after {
    content: "Warning";
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }

  blockquote {
    font-size: 20px !important;
    color: $text-color-dark;
    padding: 20px 40px;
    border-left: 2px solid $primary-color;
    margin: 40px 0;
    font-weight: bold;
    background: $light;

    p {
      margin-bottom: 0 !important;
    }
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0px 24px;
    white-space: pre-wrap;
  }

  code {
    margin-bottom: 0 !important;
    font-size: 100%;
  }
}

.list-styled {
  padding-left: 0;

  li {
    padding: 5px 0 5px 20px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $primary-color;
      left: 3px;
      top: 13px;
      padding: 2px;
      border: 2px solid $body-color;
      box-shadow: 0 0 0 2px $primary-color;
    }
  }
}

// feedback
.feedback {
  padding-top: 50px;
  margin-top: 50px;
  border-top: 1px solid $border-color;

  &-btn {
    display: inline-block;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 25px;
    border-radius: 6px;
    border: 0;

    &.positive {
      color: $white;
      background-color: #00bec4;
      margin-right: 10px;

      &.collapsed {
        color: #00bec4;
        background-color: #00bec427;
      }
    }

    &.negative {
      color: $white;
      background-color: #f9756e;

      &.collapsed {
        color: #f9756e;
        background-color: #f9756e2a;
      }
    }
  }
}

// table of content
#TableOfContents {
  position: sticky;
  top: 77px;
  padding-left: 0;
  padding-bottom: 30px;
  border-left: 1px solid $border-color;
  height: 80vh;
  overflow-y: auto;

  a {
    font-size: 0.8rem;
    display: block;
    padding: 5px 0;
    color: rgba($text-color-dark, 0.8);
    font-weight: 500;
    transition: 0.2s ease;
    padding-left: 10px;

    &.active {
      position: relative;
      color: $primary-color;
      background-color: rgba($primary-color, 0.08);
      border-radius: 6px;

      &::before {
        position: absolute;
        content: "";
        left: -10px;
        top: 25%;
        height: 50%;
        width: 1px;
        background: $primary-color;
      }
    }
  }

  ul {
    margin-bottom: 10px;
    padding-left: 5px;
  }

  & > ul {
    & > li:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }
}
.toc-mobile {
  background-color: #f9f9f9;
  border-radius: 6px;
  i {
    transition: 0.25s;
  }
  [aria-expanded="true"] {
    .toc-icon {
      i {
        transform: rotate(90deg);
      }
    }
  }
  #TableOfContents {
    height: auto;
    max-height: 50vh;
    padding-bottom: 0;
    border-left: 0;
    ul {
      margin-bottom: 0;
    }
    a {
      font-size: 1rem;
    }
  }
}

footer {
  padding-top: 100px;
  background-color: #f7f7f7;
}

.call-to-action {
  margin-bottom: -100px;
  .block {
    padding: 50px 60px;
    border-radius: 12px;
  }
}

.tooltip-el {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  .tooltiptext {
    visibility: hidden;
    width: 110px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -55px;
    font-weight: 600;
    font-size: 14px;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }
  &:hover .tooltiptext {
    visibility: visible;
  }
}

.copy-url {
  .copied {
    display: none;
  }
  &.done {
    .copy {
      display: none;
    }
    .copied {
      display: initial;
    }
  }
}

// Mermaid
.mermaid-loader {
  background-color: $white;
  z-index: 99999999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
img, svg, video, canvas, audio, iframe, embed, object {
  display: inline;
}
.mindmap-node {
  user-select: none;
  &.disable {
    pointer-events: none;
  }
}
.clickable {
  cursor: pointer;
  user-select: none;
}
[data-mindmap] {
  * {
    @extend .clickable;
  }
  @extend .clickable;
  [class^="node-line"],
  .node-bkg {
    transition: .3s;
  }
  &:hover {
    .node-bkg {
      // fill: $primary-color !important;
      filter: brightness(.9);
    }
    [class^="node-line"] {
      stroke: $primary-color !important;
    }
    // text {
    //   fill: $white !important;
    // }
  }
}
.roadmap-list-item {
  padding-top: 14px;
  padding-bottom: 14px;
  transition: .3s;
  border-color: #eeeeee !important;
  &:hover {
    opacity: .9;
    transform: scale(0.995);
    background-color: #eee;
  }
}
.content-hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: -200%;
  top: -200%;
}
.btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
}