.navigation {
  transition: 0.2s ease;
  border-bottom: 1px solid $border-color;
  background: $white;

  &.home-nav {
    transition: unset;
    top: 0 !important;
  }

  .container {
    padding: 0;

    @include tablet {
      padding: 0 10px;
    }
  }

  .navbar {
    padding: 15px 0;
  }

  &.nav-bg {
    background: $white;
  }

  @include desktop {
    .form-inline {
      width: 100%;
      margin-top: 15px;

      .form-control {
        box-shadow: none !important;
        border: 1px solid $border-color;

        &:focus {
          border: 1px solid #999;
        }
      }
    }
  }
}

.btn-changelog {
  @include mobile {
    transform: scale(.8);
    transform-origin: right;
  }
}

.dropdown-item {
  padding-left: 1.5rem;
}
.dropdown-doc-version {
  button {
    font-weight: 600;
    line-height: 2.5;
    margin-right: 15px;
    @include tablet {
      margin-right: 5px;
    }
  }
  .dropdown-item.active {
    font-weight: 600;
    color: #212529;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e")
      no-repeat 0.4rem 0.6rem/0.75rem 0.75rem;
  }
  .dropdown-item:not(.inactive),
  .dropdown-item.active {
    font-weight: 600;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left 0.4rem top 0.7rem;
    background-size: 0.75rem 0.75rem;
  }
}
.dropdown-item:focus,
.dropdown-item:active {
  background-color: $primary-color;
}

.language-selector {
  border: 0;
  margin-right: 10px;
}

header .search-wrapper {
  display: none;
}

.search-wrapper {
  position: relative;
  cursor: text;
  width: 100%;
  max-width: 460px;

  &-sm {
    height: 45px;
    width: 320px;
    .form-control {
      height: 45px !important;
    }
  }

  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  .form-control {
    height: 54px;
    border: 1px solid $border-color;
    padding-left: 40px !important;
    border-radius: 5px;
    @extend .shadow;
    background-color: $white;

    &::placeholder {
      color: #999;
      font-size: 15px;
    }
  }

  .search-button {
    border: 1px solid $border-color;
    color: #999;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    cursor: text;
    padding-inline: 4px;
  }
}

header.search-active.home-nav {
  .search-wrapper {
    display: block !important;
  }

  @include desktop {
    .logo-wrapper {
      display: none;
    }

    .mobile-view {
      display: none !important;
    }
  }
}

@include desktop {
  #banner .search-wrapper {
    max-width: 360px;
    margin: auto;
    display: block;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
  flex-wrap: nowrap;

  img {
    height: 28px;
    width: auto;
  }

  .site-logo {
    white-space: nowrap;
  }

  .logo-devider {
    height: 30px;
    width: 3px;
    background-color: $border-color;
    margin: 0 10px;
  }
}

.search-sticky {
  position: fixed !important;
  top: 10px;
  z-index: 9999;
  width: 28%;
  left: 37%;

  @include desktop-lg {
    width: 35%;
    left: 25%;
  }

  @include desktop {
    position: initial !important;
  }

  .form-control {
    height: 50px !important;
    box-shadow: 0px 5px 10px rgba(62, 62, 62, 0.05) !important;

    @include desktop {
      box-shadow: none !important;
      border: 1px solid $border-color;

      &:focus {
        border: 0;
      }
    }
    @include mobile {
      height: 40px !important;
    }
  }
  button {
    zoom: 0.85;
  }

  .btn-primary {
    display: none;
  }

  .d-none {
    display: block !important;
  }
}
